.stock-pk {
  .ttm-tag {
    display: flex;

    sup {
      font-size: 2px;
    }
  }

  .stock-pk-box {
    .text {
      font-size: 22px;
      font-weight: 400;
      color: #8f95a8;
      text-align: center;
      margin-top: 50px;
    }
  }
}
