.my-order {
  height: 100%;
}

.order-tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #717686;
  font-size: 32px;
  font-weight: 400;

  > div.active {
    color: var(--text-color);
    font-size: 36px;
    font-weight: 700;
    position: relative;

    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: -10px;
      left: calc(50% - 5px);
      width: 10px;
      height: 10px;
      background-color: var(--orange-color);
      border-radius: 50%;
    }
  }
}
