.biological-authentication-service-agreement {
  font-size: 26px;
  color: #8f95a8;
  line-height: 2;

  .company-name {
    margin-bottom: 20px;
    font-size: 38px;
    color: #011628;
    font-weight: bold;
    text-align: center;
  }

  .title-name {
    font-size: 30px;
    font-weight: 700;
    color: #011628;
    margin-bottom: 20px;
  }

  .content-style {
    margin-bottom: 20px;
  }
}
