.page {
  width: 100%;
  height: 100%;
  padding: 20px 0;
  background-color: #f7f8fc;
  overflow: auto;
}

.no-data {
  width: 100%;
  height: 100%;
}

.no-data-pic {
  width: 184px;
  height: 184px;
  margin: 200px auto 20px;
}

.no-data-pic img {
  width: 100%;
  height: 100%;
}

.text {
  width: 184px;
  height: 184px;
  margin: 0 auto;
  text-align: center;
  color: rgba(143, 149, 168, 100%);
  font-size: 24px;
  font-weight: 400;
}
