/* stylelint-disable function-no-unknown */
.combination-edit-list-item {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 24px 0;

  .label-box {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;

    img {
      width: 36px;
      height: 36px;
      display: inline-block;
      margin-right: 20px;
    }

    .label {
      font-size: 30px;
      font-weight: 900;
      color: #011628;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  .tool {
    width: 90px;
    text-align: center;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 30px;
      height: 30px;
      display: inline-block;
    }
  }
}

.combination-edit-list {
  width: 100%;
  padding: 10px 20px 120px 40px;
  background-color: #f7f8fc;

  .combination-edit-head {
    margin-bottom: 12px;

    .list {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .label {
        font-size: 24px;
        color: #8f95a8;
        font-weight: 400;
      }

      .d1 {
        width: 100%;
      }

      .d2 {
        width: 90px;
        text-align: center;
        flex-shrink: 0;
      }
    }
  }

  .tool-bar {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #fff;
    padding: 24px 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: calc(10px + constant(safe-area-inset-bottom)); /* 兼容 IOS<11.2 */
    padding-bottom: calc(10px + env(safe-area-inset-bottom)); /* 兼容 IOS>11.2 */

    .left {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .label {
        font-size: 30px;
        color: #011628;
        font-weight: 500;
      }

      img {
        width: 36px;
        height: 36px;
        display: inline-block;
        margin-right: 24px;
      }
    }

    .right {
      font-weight: 500;
      font-size: 30px;
      color: #8f95a8;
    }
  }

  .empty-box {
    padding: 160px 0;
  }
}

.btn-box {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #fff;
  padding: 14px 0;
  box-shadow: 0 -8px 50px 5px #dbe1ef;

  .btn {
    width: 433px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    background-color: #fa6d16;
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    border-radius: 60px;
    margin: 0 auto;
  }
}
