div[id='root'] {
  --text-color: #8f95a8;
  --font-22: 22px;
  --font-26: 26px;
  --font-32: 32px;

  font-size: var(--font-22);
  line-height: 27px;
  color: var((--text-color));
  padding: 16px;
}

.container {
  overflow: hidden;
}

.card {
  padding: 25px;
  background-color: #fff;
  border-radius: 24px;
  margin-bottom: 16px;
}

.card-header {
  line-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 25px;

  .card-title {
    font-size: var(--font-32);
    font-weight: 700;
    color: #011628;
  }

  .card-sub-title {
    font-size: var(--font-26);

    .arrow-icon {
      margin-bottom: -8px;
      margin-left: 10px;
    }
  }
}

.line-bar-charts {
  height: 427px;
  margin: 10px -5px;
}

.footer-hint {
  display: flex;
  align-items: flex-start;
  padding: 0 20px;
  opacity: 1;
  color: #b5bbcf;
  font-size: 22px;
  font-weight: 400;

  .icon {
    padding-top: 1px;
    margin-right: 10px;
    width: 22px;
    height: 22px;
  }
}
