/* stylelint-disable declaration-colon-newline-after */
.item {
  width: 213px;
  text-align: center;
  padding: 24px 0 26px;
  border-radius: 24px;
  background: linear-gradient(
    180deg,
    rgba(253, 235, 208, 100%) 0%,
    rgba(250, 240, 225, 97%) 0%,
    rgba(255, 255, 255, 100%) 80%,
    rgba(255, 255, 255, 100%) 100%
  );

  &.active {
    background: linear-gradient(
      180deg,
      rgba(225, 232, 255, 100%) 0%,
      rgba(194, 208, 255, 20%),
      rgba(255, 255, 255, 100%) 80%,
      rgba(255, 255, 255, 100%) 100%
    );
  }

  .num {
    font-size: 38px;
    font-weight: 700;
    color: #011628;
  }

  .num-text {
    font-weight: 400;
    font-size: 24px;
    color: #8f95a8;
  }

  .avatar-box {
    position: relative;
    margin: 11px auto 4px;
    display: block;
    width: 64px;
    height: 64px;
    border-radius: 50%;
  }

  img.avatar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  img.tag-img {
    width: 24px;
    height: 24px;
    display: inline-block;
    position: absolute;
    right: -2px;
    bottom: 6px;
  }

  .name {
    height: 34px;
    font-size: 26px;
    color: #011628;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 20px;
  }

  .text {
    height: 34px;
    font-size: 24px;
    color: #8f95a8;
    font-weight: 400;
  }
}
