.stock-search {
  font-size: 32px;
  line-height: 93px;

  :global {
    .icon-svg {
      margin-top: .04rem;
    }
  }
}

.stock-icon {
  border-radius: 15px;
  background-color: var(--orange-bg);
  color: var(--orange-color);
  font-size: 24px;
  line-height: 52px;
  text-align: center;
  padding: 0 14px;
  white-space: nowrap;
  flex-shrink: 0;
}

.stock-name {
  & > span {
    margin-right: 4px;
  }
}

.input {
  display: inline-flex;
  flex: 1;
}

.input-box {
  display: flex;
  flex: 1;

  [class*='icon-search'] {
    flex-shrink: 0;
    margin-right: 40px;
  }

  :global {
    .adm-input-element {
      --font-size: 32px;
    }
  }
}

.pop {
  width: calc(100vw - 32px - 54px);

  .title-text {
    color: #717686;
    font-size: 26px;
    margin-bottom: 10px;
  }

  &.search-list {
    max-height: 560px;
    overflow: auto;
  }

  .hint-box {
    text-align: center;
  }

  .history-list,
  .hot-list {
    max-height: 220px;
    overflow: auto;
    margin: 20px 0 40px;
    font-size: 28px;
    font-weight: 500;
    color: var(--text-color);
  }

  .hot-list {
    margin-bottom: 0 !important;
  }
}

.search-pop {
  --content-padding: 32px 27px !important;

  transform: translateY(-25px);

  :global {
    .adm-popover-arrow {
      margin-left: -315px;
    }

    .m-y-20 {
      margin: 20px 0;
    }
  }
}
