.components-details {
  width: 100%;
  padding: 32px 16px 180px;
  background: linear-gradient(180deg, rgba(208, 216, 233, 100%) 0%, rgba(255, 255, 255, 0%) 12%);

  .bg-linear-gradient {
    position: absolute;
  }

  .risk-tip {
    font-size: 22px;
    color: #8f95a8;
    font-weight: 400;
    text-align: justify;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    img {
      width: 24px;
      height: auto;
      display: inline-block;
      margin-right: 8px;
      padding-top: 6px;
    }
  }
}
