.wei-circle {
  width: 100%;
  height: 100%;
  background-color: #f7f8fc;
  padding: 0 .32rem;
  overflow: auto;

  :global {
    .adm-infinite-scroll {
      padding: 0;
    }
  }
}

.preview-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
