.page {
  width: 100%;
  padding: 38px 66px 0 43px;
  box-sizing: border-box;
}

.page-item {
  margin-bottom: 50px;
}

.title {
  font-size: 30px;
  font-weight: 500;
  color: #011628;
  margin-bottom: 16px;
}

.intro {
  font-size: 28px;
  font-weight: 400;
  color: #717686;
  padding-left: 20px;
}

.award {
  margin-bottom: 24px;
}
