.icon-search {
  font-size: 32px;
  color: #b5bbcf;
}

.icon-quote,
.icon-quote-down {
  color: #717686;
  line-height: 1;
  font-size: 32px;
}

.icon-arrow-close,
.icon-arrow-open {
  color: #8f95a8;
  font-size: 23px;
}

.icon-eyes,
.icon-eyes-close {
  color: #8f95a8;
  font-size: 42px;
}

.icon-us,
.icon-a,
.icon-hk {
  font-size: 32px;
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: text-top;
}

[class^='icon-nav'] {
  font-size: 54px;
}

[class^='icon-trigger'] {
  font-size: 26px;
  vertical-align: -2px;
}

.icon-connect {
  font-size: 29px;
  vertical-align: -2px;
}

.chart-rebound-to-buy,
.chart-back-to-sell {
  font-size: 680px;
}

.icon-1,
.icon-2 {
  font-size: 31px;
}

.icon-line {
  font-size: 10px;
}

.icon-hint,
.icon-upgrade {
  height: 1em;
  width: 1em;
  line-height: 1em;
}
