/* stylelint-disable selector-class-pattern */
html {
  ol.qc__grid-header__list {
    margin-bottom: 0;
  }

  .qc__grid-header__title {
    margin: 0;
  }

  .qc__grid-header {
    font-size: 20px;
  }
}
