/* stylelint-disable no-descending-specificity */
/* stylelint-disable selector-class-pattern */
.chat-x {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

.msg {
  position: relative;
  flex: 70;
  color: #fff;
  overflow: hidden;
}

.msg__loading-more {
  position: absolute;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  width: 100%;
}

.msg-list {
  height: 100%;
  padding: 0 18px;
  overflow: auto;
}

.msg-item {
  display: flex;
  align-items: flex-start;
  max-width: 85%;
  backface-visibility: hidden;
  padding: 10px 0;

  &:first-of-type {
    margin-top: 26px;
  }

  &:last-of-type {
    margin-bottom: 26px;
  }

  &:not(:first-of-type) {
    margin-top: 16px;
  }
}

.msg__misc {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-bottom: 10px;
}

.msg__from {
  margin-right: 10px;
  font-size: 16px;
  // font-weight: bold;
  color: #ff2d2d;
}

.msg__date {
  font-size: 14px;
  color: #888;
}

.msg__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.msg-content {
  position: relative;
  padding: 11px 10px;
  max-width: 100%;
  width: fit-content;
  word-break: break-all;
  border-radius: 4px;
  background-color: #fcefea;
  color: #000;

  img {
    max-width: 100%;
  }

  &:before {
    content: '';
    position: absolute;
    left: -15px;
    top: 7px;
    width: 0;
    height: 0;
    border-width: 8px;
    border-style: solid;
    border-color: transparent;
    border-right-color: #fcefea;
  }
}

.msg-x {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.msg-item--rtl {
  justify-content: flex-end;
  margin-left: auto;

  .msg__from {
    display: none;
  }

  .msg__avatar {
    order: 2;
    margin-right: 0;
    margin-left: 10px;
  }

  .msg-content {
    &:before {
      left: inherit;
      right: -15px;
      border-right-color: transparent;
      border-left-color: #fcefea;
    }
  }

  .msg-x {
    align-items: flex-end;
  }
}

.quote-content {
  .msg__misc {
    margin-bottom: 0;
  }

  .msg__from {
    display: block;
  }

  .msg-content {
    padding-left: 0;
    padding-right: 0;
    color: #888;
  }

  margin-bottom: 10px;
  border-bottom: 1px dashed #888;
}

.operation-x {
  display: flex;
  align-items: center;
  padding: 6px 10px;
  background: #fff;
  border-top: 1px solid #c8c8c8;

  .operation-img {
    font-size: 20px;
    margin-right: 10px;
    color: #6a6a6a;
    cursor: pointer;
  }

  label {
    padding-top: 3px;
  }
}

.ipt-x {
  // flex: 30;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.ipt-box {
  flex: 1;
  width: 100%;
  height: 40px;
  max-height: 60px;
  padding: 10px;
  box-sizing: border-box;
  color: #898989;
  overflow: auto;
  background-color: #fcefea;
  resize: none;
}

.admin-box {
  flex: 1;
  width: 100%;
  height: 100%;
  max-height: 100%;
  padding: 10px;
  box-sizing: border-box;
  color: #898989;
  overflow: auto;
  background-color: #f5f5f5;
  resize: none;
}

.ipt {
  border: 0;
  outline: 0;
  height: 100%;
  width: 100%;
  color: #999;
}

[contenteditable] {
  user-select: text;
}

.ipt:empty:before {
  content: attr(data-placeholder);
}

.ipt__handle {
  padding: 13px;
  background: #fcefea;
}

.admin-handle {
  padding: 13px;
  background: #f5f5f5;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  margin-left: auto;
  padding: 9px 0;
  font-size: 16px;
  height: 34px;
  color: #fff;
  background: #bf1b1b;
  border-radius: 5px;
  cursor: pointer;
}

.emoji-item {
  padding: 0 3px;

  > img {
    width: 32px;
    height: 32px;
    margin-bottom: 5px;
  }
}

.quote {
  padding: 5px;
  color: #888;
  border-bottom: 1px solid #c8c8c8;
  transition: background-color .3s;

  // &:hover {
  //   background-color: #ccc;
  // }
}

.quote__name {
  margin-bottom: 10px;
}

// .quote__content {
//   word-wrap: break-word;
// }

.quote__content__msg {
  word-wrap: break-word;
}

.quote__content--single {
  max-width: 500px;
  max-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.member {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.muted {
  color: blue;
}

.normal {
  color: red;
}

.quote__content__msg--single {
  max-width: 500px;
  max-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

:global {
  @keyframes twinkle-animation {
    0% {
      opacity: 0;
    }

    50% {
      opacity: .5;
    }

    100% {
      opacity: 1;
    }
  }

  .twinkle {
    background: #ccc;
    padding: 10px 0;
    animation: twinkle-animation 1s infinite;
  }

  .ant-popover-inner {
    // 滚动条设置
    ::-webkit-scrollbar {
      width: 10px;
      height: 10px;
      // background-color: #f5f5f5;
    }

    // 滑块
    ::-webkit-scrollbar-thumb {
      border-radius: 10px;
      border-right: 1px solid #fff;
      background-image: linear-gradient(to right, #d6d6d6, #d6d6d6);
      background-size: 100%;
    }

    // 内层滚动漕
    ::-webkit-scrollbar-track-piece {
      background-color: #fff;
    }

    // 边角
    ::-webkit-scrollbar-corner {
      background-color: #fff;
    }

    // 滚动条三角
    ::-webkit-scrollbar-button:horizontal:single-button:start {
      display: none;
      background: url('../../images/white_left.png') -1px -1px no-repeat;
      background-size: 100%;
      width: 10px;
      height: 10px;
    }

    ::-webkit-scrollbar-button:horizontal:single-button:end {
      display: none;
      background: url('../../images/white_right.png') -1px -1px no-repeat;
      background-size: 100%;
      width: 10px;
      height: 10px;
    }

    ::-webkit-scrollbar-button:vertical:single-button:start {
      display: none;
      background: url('../../images/white_top.png') -1px 0 no-repeat;
      background-size: 100%;
      width: 10px;
      height: 11px;
    }

    ::-webkit-scrollbar-button:vertical:single-button:end {
      display: none;
      background: url('../../images/white_bottom.png') -1px 0 no-repeat;
      background-size: 100%;
      width: 10px;
      height: 10px;
    }
  }

  .emoji {
    width: 26px;
    height: 26px;
    box-sizing: border-box;
    vertical-align: middle;
    margin: 0 5px;
  }

  .ant-checkbox-wrapper {
    width: 99%;

    .ant-checkbox {
      width: 16px;
    }

    span:nth-child(2) {
      width: 100%;
    }
  }
}
