.list-box {
  padding: 10px 32px 32px;
}

.item {
  margin-bottom: 16px;
  padding: 40px 38px;

  .title {
    margin-bottom: 44px;
    font-size: 34px;
    font-weight: bold;
    display: flex;
    align-items: center;

    img {
      width: 88px;
      height: 88px;
      border-radius: 16px;
      margin-right: 20px;
    }
  }

  .item-item {
    display: flex;
    justify-content: space-between;
    font-size: 28px;
    margin-bottom: 36px;

    .label {
      color: var(--trade-btn-icon-color);
    }
  }

  .item-item:last-child {
    margin-bottom: 0;
  }
}
