.list {
  display: flex;
  margin-bottom: 0;
  padding: 3px 0;
  background-color: #e9e9e9;
}

.items {
  flex: 1;
  max-width: 100px;
  padding: 2px 0;
  text-align: center;

  &.items-active {
    color: #fff;
    background-color: #778493;
  }
}

.dropdown-items {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.menu :global {
  .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item,
  .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu {
    padding: 0 10px;
  }

  .period-list {
    display: inline-block;
  }

  .candle-modle-list {
    display: inline-block;
  }
}
