.stock-scope {
  margin-left: -38px;
  margin-right: -38px;
}

.title-container {
  padding-left: 32px;
  width: 100%;

  .close-icon {
    display: inline-block;
    width: 10%;
    font-weight: 700;
  }

  .title-style {
    display: inline-block;
    width: 90%;
    color: #011628;
    font-size: 38px;
    font-weight: 700;
    text-align: center;
    padding-right: 88px;
  }
}
