.wrap {
  padding: 0 32px;
  margin-bottom: 30px;

  .title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 34px 0 24px;

    .title {
      color: #011628;
      font-size: 32px;
      font-weight: 700;
    }

    img {
      width: 14px;
      height: auto;
      display: inline-block;
    }
  }

  .excellent-stock {
    width: 100%;
    background-color: #fff;
    padding: 36px 14px 30px 30px;
    border-radius: 24px;

    :global {
      .stock-item-card {
        border-bottom: 1px solid #f2f5ff;
      }

      .stock-item-card:last-child {
        border-bottom: none;
      }
    }
  }

  .loading-page {
    width: 100%;
    padding: 160px 0;
    text-align: center;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 24px;
  }

  .empty-box {
    width: 100%;
    padding: 80px 0;
    margin: 0 auto;
    border-radius: 24px;
    background-color: #fff;
  }
}
