.coupon {
  width: 686px;
  height: 162px;
  border-radius: 24px;
  background: #fff;
  margin-bottom: 23px;
  box-sizing: border-box;
  margin-left: 10px;
  display: flex;
}

.card {
  width: 138px;
  height: 100px;
  border-radius: 15px;
  background-color: #fe7c7c;
  margin: 30px 20px;
}

.card-stock {
  font-size: 26px;
  font-weight: 500;
  color: #ffe9e9;
  margin-left: 18px;
  margin-top: 19px;
}

.card-intro {
  font-size: 24px;
  font-weight: 400;
  color: #ffe9e9;
  margin-left: 18px;
}

.drap-icon {
  font-size: 20px;
}
