.container {
  width: 100vw;
  padding: 0 24px;
}

.basic-card {
  padding: 30px 37px;
  background-color: #fff;
  border-radius: 24px;
}

.account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;

  .icon {
    width: 35px;
    height: 35px;
    font-size: 35px;
    line-height: 35px;
    margin-right: 15px;
  }
}

.title {
  font-size: 36px;
  font-weight: 700;
  color: var(--text-color);
  padding: 30px 30px 20px;
}

.info-item {
  :global {
    .adm-input {
      font-size: 34px;
      padding: 18px 0 24px;
      border-bottom: 1px solid #f2f5ff;

      --adm-color-light: #b5bbcf;
    }
  }

  .label {
    font-size: 26px;
    color: #717686;
    margin-bottom: 10px;
  }

  &:not(:first-child) .label {
    margin-top: 38px;
  }

  .desc {
    font-size: 22px;
    padding: 15px 0;
    color: #b5bbcf;
  }

  .select-broker {
    display: flex;
    height: 88px;
    border-radius: 24px;
    border: 1px solid #dbdee9;
    font-size: 34px;
    font-weight: 500;
    color: var(--text-color);
    align-items: center;
    justify-content: space-between;
    padding: 0 37px;

    &[data-desc='true'] {
      color: #b5bbcf !important;
    }

    img {
      width: 30px;
      height: 30px;
    }
  }
}

.next-btn {
  height: 88px;
  line-height: 88px;
  background-color: var(--orange-color);
  color: #fff;
  font-size: 34px;
  font-weight: 500;
  text-align: center;
  border-radius: 44px;
  margin: 40px 45px 90px;

  &[data-disable='true'] {
    background-color: #dbdee9;
  }
}
