.expand-box {
  width: 650px;
  border-radius: 24px;
  background-color: var(--expand-bg);
  display: flex;
  justify-content: center;
  margin: 4px auto;

  & > div {
    padding: 8px 60px;
    margin: 0 40px;
    border-radius: 24px;
    cursor: pointer;
    color: #1f2d56;

    .expand-icon {
      font-size: 42px;
    }

    &.disabled {
      color: var(--desc-color);
    }

    &:not(.disabled):active {
      background-color: var(--bold-bg);
    }
  }
}
