.variety-distribution-content {
  flex: 1;
  overflow: auto;
  padding: 32px 0;
  background-color: #fff;
  border-radius: 24px;
  margin-top: 17px;
  margin-bottom: 20px;
}

.padding-side {
  padding: 0 var(--padding-left-right);

  .name-side {
    display: flex;
    align-items: center;
    height: 50px;
    // line-height: 50px;
  }

  .side-title {
    font-size: 34px;
    font-weight: 700;
    color: #011628;
    margin-left: 32px;
  }
}

.content-update-time {
  color: #8f95a8;
  font-size: 24px;
}

.warehouse-definition {
  margin-top: 14px;
  margin-bottom: 24px;
  color: #b5bbcf;
  font-size: 22px;
  font-weight: 400;
}

.good-warehouse {
  margin-right: 30px;
  margin-left: 34px;
}

.percentage {
  height: 36px;
  line-height: 36px;
  display: flex;
  width: 101%;
  margin-top: 20px;
  font-size: 20px;
  color: #fff;
  padding-left: 24px;
  padding-right: 21px;
  box-sizing: border-box;
}

.percentage-bull {
  text-align: left;
  // background: linear-gradient(-120deg, transparent 18px, var(--stock-decline-color) 0);
  background: linear-gradient(-120deg, transparent 18px, #06b899 0);
  border-radius: 18px 0 0 18px;
  margin-right: -6px;
}

.percentage-bear {
  text-align: right;
  margin-left: -6px;
  // background: linear-gradient(60deg, transparent 16px, var(--stock-rise-color) 0);
  background: linear-gradient(60deg, transparent 16px, #da070e 0);
  border-radius: 0 18px 18px 0;
}

.lengend {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 24px;
  color: #666;
  padding-left: 24px;
  padding-right: 21px;

  .legend-right {
    margin-left: 12px;
  }
}

.detail-list {
  margin-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
}

.container-style {
  display: flex;

  .left-half {
    flex: 1;

    .left-big-title {
      padding: 0 20px;
      width: 100%;
      height: 55px;
      line-height: 55px;
      color: #1f2d56;
      font-size: 22px;
      font-weight: 500;
      background-color: #f2fcfa;
    }

    .first-line {
      padding: 0 20px;
      background-color: #ebf9f7;
      padding-top: 10px;
      padding-bottom: 8px;

      .left-inner-con {
        color: #8f95a8;
        font-size: 22px;
        font-weight: 400;
      }

      .right-inner-con {
        color: #8f95a8;
        font-size: 22px;
        font-weight: 400;
        float: right;
      }
    }

    .second-line {
      padding: 0 20px;
      padding-top: 10px;
      padding-bottom: 8px;
      background-color: #ebf9f7;

      .left-inner-con {
        color: #8f95a8;
        font-size: 22px;
        font-weight: 400;
      }

      .right-inner-con {
        color: #8f95a8;
        font-size: 22px;
        font-weight: 400;
        float: right;
      }
    }
  }

  .right-half {
    flex: 1;

    .right-big-title {
      padding: 0 20px;
      width: 100%;
      height: 55px;
      line-height: 55px;
      color: #1f2d56;
      font-size: 22px;
      font-weight: 500;
      background-color: #fff9f9;
    }

    .first-line {
      padding: 0 20px;
      background-color: #fceced;
      padding-top: 10px;
      padding-bottom: 8px;

      .left-inner-con {
        color: #8f95a8;
        font-size: 22px;
        font-weight: 400;
      }

      .right-inner-con {
        color: #8f95a8;
        font-size: 22px;
        font-weight: 400;
        float: right;
      }
    }

    .second-line {
      padding: 0 20px;
      background-color: #fceced;
      padding-top: 10px;
      padding-bottom: 8px;

      .left-inner-con {
        color: #8f95a8;
        font-size: 22px;
        font-weight: 400;
      }

      .right-inner-con {
        color: #8f95a8;
        font-size: 22px;
        font-weight: 400;
        float: right;
      }
    }
  }
}
