/* stylelint-disable function-no-unknown */
@import '@/global-css/func.scss';

html:global.white {
  --ratio-border-bottom-color: #f2f2f5;
  --ratio-title-color: var(--main-title-color);
  --ratio-update-time-color: var(--main-tip-color);
  --market-data-txt-color: var(--main-tip-color);
  --market-data-num-color: var(--main-title-color);
  // --hs-tabs-background: #f5f5f5;
  --hs-tabs-background: #f6f8ff;
  --hs-tabs-item-active-background: #fff;
  --hs-tabs-item-active-color: #2758d1;
  --hs-tabs-item-active-shadow-color: #d8d8d8;
  --stock-rise-color: #da070e;
  --stock-decline-color: #06b899;
}

html:global.black {
  --ratio-border-bottom-color: #000001;
  --ratio-title-color: var(--main-title-color);
  --ratio-update-time-color: var(--main-tip-color);
  --market-data-txt-color: var(--main-tip-color);
  --market-data-num-color: var(--main-title-color);
  --hs-tabs-background: #06090f;
  --hs-tabs-item-active-background: #222f3f;
  --hs-tabs-item-active-color: #3084ff;
  --hs-tabs-item-active-shadow-color: rgba(0, 0, 0, 30%);
}

body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0%);
}

.page {
  height: 100%;
  color: var(--main-content-color);
  background-color: #f7f8fc;
  overflow-y: auto;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 14px;
}

.ratio {
  padding-top: 30px;
  padding-bottom: 38px;
  border-radius: 24px;
  background-color: #fff;
}

.ratio-title {
  padding-left: 41px;
  margin-bottom: 8px;
  color: #011628;
  font-size: 34px;
  font-weight: 700;
}

.ratio-update-time {
  margin-left: 30px;
  color: #8f95a8;
  font-size: 24px;
  font-weight: 400;
}

.ratio-chart {
  width: 100%;
  height: 340px;
  margin-top: 53px;
}

.ration-data {
  display: flex;
  justify-content: center;
  padding: 20px var(--padding-left-right);
}

.ration-data-inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 136px;
  padding-right: 136px;
}

.cbba-warrant-data {
  transform: translateX(-50%);

  .cbba-title {
    color: #8f95a8;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 12px;
  }

  .cbba-number {
    color: #011628;
    font-size: 24px;
    font-weight: 700;
  }
}

.market-data {
  transform: translateX(50%);

  .market-title {
    color: #8f95a8;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 12px;
  }

  .market-number {
    color: #011628;
    font-size: 24px;
    font-weight: 700;
  }
}

.cbba-warrant-data,
.market-data {
  display: flex;
  flex-direction: column;
  align-items: center;

  > p {
    margin-bottom: 6px;
    font-size: 28px;
    color: var(--market-data-txt-color);
  }

  > span {
    font-size: 30px;
    color: var(--market-data-num-color);
  }
}

.hs-trend {
  margin-top: 15px;
  background-color: #fff;
  box-sizing: border-box;
  // padding: 20px var(--padding-left-right);
  padding: 32px 32px 32px 36px;
  width: 100%;
  // height: 100%;
  color: var(--main-title-color);
  border-radius: 24px;

  .hs-trend-title {
    color: #011628;
    font-size: 34px;
    font-weight: 700;
  }

  .hs-update-time {
    margin-left: 30px;
    color: #8f95a8;
    font-size: 24px;
    font-weight: 400;
  }

  :global {
    .legend-wrap {
      margin-top: 32px;
    }
  }
}

.hs-tabs {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 24px;
  align-items: center;
  padding: 2px 3px;
  border-radius: 24px;
  background: var(--hs-tabs-background);
  white-space: nowrap;
  box-sizing: border-box;
  // height: 60px;
  // line-height: 60px;
  height: 68px;
  line-height: 68px;
  overflow: hidden;
  // padding-left: 28px;
}

.hs-tabs-item {
  // padding: 6px 29px;
  flex: 1;

  // min-width: 138px;
  // max-width: 150px;
  box-sizing: border-box;
  // height: 52px;
  // line-height: 52px;
  height: 46px;
  line-height: 46px;
  text-align: center;
  // color: var(--main-tip-color);
  background: var(--hs-tabs-background);
  font-size: 28px;
  color: #8f95a8;

  /* stylelint-disable-next-line selector-class-pattern */
  &.hs-tabs-item--active {
    background: var(--hs-tabs-item-active-background);
    // border-radius: 4px;
    border-radius: 20px;
    box-shadow: 0 0 8px 0 var(--hs-tabs-item-active-shadow-color);
    transition: all .1s;
    // color: var(--hs-tabs-item-active-color);
    color: #1f2d56;
    font-size: 28px;
    font-weight: 700;
  }
}

.hs-trend-chart {
  height: 610px;
}

.trend-legend {
  display: flex;
  justify-content: center;
  margin-top: 18px;
  color: #666;
}

.trend-legend-item {
  display: flex;
  align-items: center;
  margin-right: 30px;
  font-size: 20px;

  > i {
    display: inline-block;
    width: 20px;
    height: 4px;
    margin-right: 8px;
  }
}
