/* stylelint-disable no-descending-specificity */
/* stylelint-disable max-nesting-depth */
/* stylelint-disable selector-class-pattern */
.page {
  display: flex;
  flex-direction: column;
  // height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .safe-area {
    width: '100%';
    background-color: #fff;
  }

  .nav_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: .88rem;
    background-color: #fff;
    padding: 0 .3rem;
    font-size: .28rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  .left-area {
    display: flex;
    flex-direction: row;
    align-items: center;

    .back {
      width: .19rem;
      height: .48rem;
    }

    .teacher-wrap {
      margin-left: .25rem;
      display: flex;
      flex-direction: row;
      align-items: center;

      .teacher-intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: .72rem;

        span:nth-child(1) {
          font-size: .28rem;
          font-weight: 700;
          color: #011628;
        }

        .teacher-tag {
          display: block;
          font-size: .2rem;
          font-weight: 400;
          color: #b5bbcf;
          width: 2rem;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: pre;
          -webkit-line-clamp: 1;
        }
      }
    }
  }

  .right-area {
    display: flex;
    flex-direction: row;
    align-items: center;

    .focus {
      width: 101px;
      height: .48rem;
      border: 1px solid #fa6d16;
      border-radius: .34rem;
      text-align: center;
      line-height: .48rem;
      color: #fa6d16;
      font-size: .24rem;
      font-weight: 400;
      opacity: 1;
    }

    .addfriend {
      width: 101px;
      height: .48rem;
      border: 1px solid #f8e2bf;
      border-radius: .34rem;
      text-align: center;
      line-height: .48rem;
      color: #fab02f;
      font-size: .24rem;
      font-weight: 400;
      opacity: 1;
      margin-right: 20px;
    }

    .unfocus {
      width: 101px;
      height: .48rem;
      background-color: #eaedf7;
      border-radius: .34rem;
      text-align: center;
      line-height: .48rem;
      color: #717686;
      font-size: .24rem;
      font-weight: 400;
      opacity: 1;
    }

    .share {
      width: .48rem;
      height: .48rem;
      margin-left: .37rem;
    }
  }

  .ad-box {
    position: fixed;
    width: 3rem;
    height: 3.5rem;
    margin-left: -1.5rem;
    margin-top: -1.5rem;
    top: 40%;
    left: 50%;

    img {
      width: 100%;
      height: 100%;
    }

    .icon_close {
      position: relative;
      bottom: -.3rem;
      width: 100%;
      text-align: center;
      color: #ccc;
    }
  }

  .add_friend {
    position: fixed;
    width: .5rem;
    height: .5rem;
    bottom: 1rem;
    right: 0;

    img {
      width: 100%;
    }
  }
}

:global {
  /* stylelint-disable-next-line selector-max-id */
  #unique-player {
    width: 100%;
    height: 100%;
  }
}

.player-container {
  margin-top: .88rem;
  position: relative;
  height: 4rem;
}

.status-icon {
  position: absolute;
  top: 26px;
  left: 22px;
  z-index: 2;
}

.record-icon {
  padding: .03rem .06rem;
  background-color: #1f2d56;
  border-radius: .06rem;
  color: #fff;
  font-size: .2rem;
  font-weight: 400;
  text-align: center;
  display: flex;
  align-items: center;
}

.player {
  width: 100%;
  height: 100%;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: top right;
  background-size: cover;
  z-index: 1001;
}

.cover__bg {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
}

.live-theme {
  width: 100%;
  height: 1.44rem;
  padding: .32rem .3rem .19rem;
  background-color: #fff;
}

.live-title {
  font-size: .36rem;
  font-weight: 700;
  color: #1f2d56;
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.online-num {
  font-size: .24rem;
  font-weight: 400;
  color: #8f95a8;
}

.main {
  flex: 1;
  // overflow: hidden;
  overflow-x: scroll;
  background-color: #f7f8fc;
  display: flex;
  flex-direction: column;
  position: relative;
}

.info-content {
  height: 100%;
  padding: .12rem .14rem;
  overflow: auto;

  .team_box {
    width: 100%;
    display: flex;
    margin: .1rem 0;
    border-bottom: .01rem solid #f1f1f1;

    img {
      width: 1.02rem;
      height: 1.02rem;
      margin-right: .14rem;
    }

    .teacher_box {
      flex: 1;
      display: flex;
      flex-direction: column;

      .teacher_name {
        display: flex;
        align-items: center;

        .name {
          font-size: .16rem;
          text-align: left;
          color: #000;
          margin-right: .08rem;
        }

        .tag {
          color: #fe4c3a;
          border: .01rem solid #fe4c3a;
          border-radius: .04rem;
          font-size: .12rem;
          padding: .01rem .06rem;
        }
      }

      .rule_number {
        font-size: .14rem;
        text-align: left;
        color: #000;
        margin: .1rem 0;
      }

      .introduction {
        font-size: .12rem;
        text-align: left;
        color: #999;
        position: relative;
        margin-bottom: .15rem;

        p {
          padding-right: .06rem;
        }

        .show {
          height: auto;
        }

        .close {
          height: .32rem;
          overflow: hidden;
          text-overflow: ellipsis;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }

        img {
          position: absolute;
          bottom: -.12rem;
          right: .06rem;
          width: .16rem;
          height: .14rem;
        }
      }
    }
  }
}

.content__open-time {
  padding-top: .15rem;
  font-size: .16rem;
  color: #fe4c3a;
}

.content__list {
  margin: .2rem 0;

  > p:first-of-type {
    margin-bottom: .06rem;
    color: #000;
  }

  > p:last-of-type {
    color: #999;
  }
}

.record {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.record__item {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  padding: .2rem .12rem;
  border-bottom: .01rem dashed transparent;
}

.record-cover {
  position: relative;
  width: 1.2rem;
  height: .8rem;
}

.record-cover__pic {
  width: 100%;
  height: 100%;
  border-radius: .06rem;
}

.record-cover__box {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 50%);
  border-radius: .06rem;
}

.record-cover__play {
  position: absolute;
  top: 50%;
  left: 50%;
  width: .42rem;
  height: .41rem;
  transform: translate(-50%, -50%);
}

.record-cover__duration {
  position: absolute;
  right: .06rem;
  bottom: .04rem;
  color: #fff;
}

.record-content {
  flex: 1;
  display: flex;
  // flex-direction: column;
  align-items: center;
}

.record_detail {
  width: 1.2rem;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 .14rem;
}

.record__title {
  height: .42rem;
  overflow: hidden;
  margin-bottom: .04rem;
  font-size: .16rem;
  color: #fff;
}

.record__time {
  color: #666;
}

.record__btn {
  flex: 1;
  height: .3rem;
  line-height: .3rem;
  text-align: center;
  color: #fe4c3a;
  border: .01rem solid #fe4c3a;
  border-radius: .16rem;
  background-color: #fff;
}

.table-tabs {
  margin: 0 .4rem;
  padding: 20px 0;

  :global {
    .adm-capsule-tabs-header {
      background-color: var(--bold-bg);
      border-radius: 24px;
    }
  }
}

.tab-container {
  height: 100%;
  overflow: hidden;
}

.intor-container {
  padding: .32rem;
  font-size: .28rem;
  font-weight: 400;
  color: #8f95a8;
  height: 100%;
  overflow-y: scroll;
}

xmp,
pre,
plaintext {
  display: block;
  font-family: -moz-fixed;
  // margin: 1em 0;
  white-space: pre-wrap;
}

.member-wrap {
  padding: .4rem;
  height: 100%;
}
